@media only screen and (min-width: 360px) and (max-width: 412px) {
  .card--container {
    overflow-y: scroll;
    height: 45vh;
  }
}

@media only screen and (min-height: 731px) and (max-height: 822px) {
  .card--container {
    overflow-y: scroll;
    height: 51vh;
  }
}

@media only screen and (min-height: 823px) and (max-height: 1000px) {
  .card--container {
    overflow-y: scroll;
    height: 57vh;
  }
}


@media only screen and (min-height: 667px) and (max-height:736){
  .card--container {
    overflow-y: scroll;
    height: 47vh;
  }
}


@media only screen and (min-width: 1000px){
  .card--container {
    overflow-y: scroll;
    height: 50vh;
  }
}
