@import "./Vars.scss";

#product {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.products__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $main-color;

  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .container__social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
}

.container__social--schedule {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  .container__social {
    img {
      height: 25px;
      width: 25px;
      margin: 5px;
    }
  }
  .container__schedule {
    text-align: center;
    font-size: 10px;
    color: white;
    p {
      border: 1px solid white;
      border-radius: 15px;
      font-size: 15px;
      color: white;
    }
  }
}

h2 {
  color: $main-color;
  margin-left: 10px;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 20px 0px;
  background-color: rgb(238, 237, 237);
  display: flex;
  outline: 0;
  flex-wrap: nowrap;
  margin-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  overflow-y: hidden;

  scroll-behavior: smooth;

  li {
    button {
      text-decoration: none;
      color: $main-color;
      padding: 10px;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      margin: 0 5px;
      font-size: 1.4rem;
      border-style: none;
      border-color: white;
      outline-style: none;
      cursor: pointer;
      font-weight: bold;
    }
  }
}

.card--container {
  overflow-y: scroll;
  height: 52vh;

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 150px;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      h3 {
        color: $main-color;
        font-size: 20px;
      }
      span {
        color: $main-color;
        font-size: 15px;
      }
      button {
        height: 30px;
        width: 70px;
        background-color: $main-color;
        color: white;
        border-radius: 5px;
        margin: 5px;
        border-style: none;
        outline: none;
        cursor: pointer;
      }
    }

    margin-top: 20px;
    margin-bottom: 10px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: 25px;
    }
  }
}

.footer_nav--card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 16px;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: $main-color;
  position: fixed;
  bottom: 0;
  padding-top: 20px;

  h3 {
    color: white;
  }

  .eslogan{
    margin: 0;
    color: white;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    border-style: none;
    color: $main-color;
    width: 120px;
    height: 40px;
    font-size: 15px;
    
    cursor: pointer;
    outline-style: none;
    span {
      position: relative;
      left: 14px;
      bottom: 2px;
      background: $main-color;
      font-size: 20px;
      color: white;
      padding: 4px 8px;
      border-radius: 50%;
    }

    img {
      height: 25px;
      width: 25px;
    }
    

  

  }
}
